_derived
_private
_vti*
*.scc
*.bak
*_BAK*
*BAK_*
.project
web.xml
_vti_inf.html
postinfo.html
_vti_cnf
web.config*
local[sS]ettings.cfm
export/
refence/
/reference
Copy of*
*.ach
*.iif
*.fil
*.tif
*.tmp
*.old
*.proj
*.webinfo
*.zip
*.scc
*.dat
*.xls
*.tmp
*.pdf
*.log
*.dll
*.sys
*.rem
*.iif
*.dat
*.v1
*.jar
*.cab
*.zip
*.xls
*.edi
settings.xml
.settings/org.eclipse.core.resources.prefs
import/GEICSExport
.settings/*
/kakapo/log/pages/*.*
/kakapo/log/variables/*.*